<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <title>Error 404 (Not Found)</title>

    <!--style-->
    <link rel="stylesheet" type="text/css" href="/css/general.css">
    <link rel="stylesheet" type="text/css" href="/css/error404.css">

</head>
<body>

    <img src="/img/logo.jpg" class="logo">
    <div id="todo-table">
        <div id="error-info">
            <p id="to-home">Todo</p>
            <p id="error-type"><span>404.</span>  That’s an error.</p>
            <p>The requested URL <%= path %> was not found on this server. That’s all we know.</p>
        </div>
        <div id="illustration">
            <img src="/img/404 Page Not Found _Monochromatic.svg">
        </div>
    </div>

    <script src="/js/error404.js"></script>
</body>
</html>