#todo-table{
    padding: 40px 20px 50px;
    background-color: #061525;
    color: #c0d9f1;
    width: 1000px;
    min-height: 280px;
    font-family: 'Heebo', sans-serif;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

#error-info{
    max-width: 380px;
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-between;
}

#to-home{
    font-size: 2rem;
}
#error-type > span{
    font-weight: 800;
}


#illustration {
    width: auto;
    max-height: 300px;
}



@media all and (max-width : 1057px){
    #todo-table{
        width: 700px;
    }
}

@media all and (max-width : 758px){
    #todo-table{
        width: 500px;
    }
}

@media all and (max-width : 530px){
    #todo-table{
        width: 100%;
    }
}

@media all and (max-width : 400px){
    body{
        margin: 0;
    }
    #todo-table {
        width: 95%;
    }
    #illustration{
        display: none;
    }
}