@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap'); /*font-family: 'Heebo', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body{
    min-height: 100vh;
    background-image: url(./../img/pattern.png);

    margin: 0 20px;
    padding: 30px 0 0 0;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
}

#todo-table{
    background-color: #061525;
    width: 1000px;
    min-height: 280px;
    font-family: 'Heebo', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
}

